<div class="card mb-2">
    <div class="card-header bg-dark text-white">
        <h5>Protocolo</h5>
    </div>
    <div class="card-body">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>Paciente</th>
                <th>Hemograma</th>
                <th>Formula Leucocitaria</th>
                <th>Orina</th>
                <th>Examen Microscopico de Sedimento</th>
                <th>Sedimento urinario</th>
                <th>Antibiograma</th>
                <th>Analisis quimico</th>
                <th>Enzimas</th>
                <th>Bilirrubina</th>
                <th>Coagulacion</th>
                <th>PRUEBA DE TOLERANCIA ORAL A LA GLUCOSA</th>
                <th>Grupo Sanguineo</th>
                <th>Factor RH</th>
                <th>Serologia</th>
                <th>HCG EN SANGRE</th>
                <th>PSA (prostatico)</th>
                <th>POLIMORFOS NUCLEARES EN MATERIA FECAL</th>
                <th>COPROPARASITOLOGICO SERIADO</th>
                <th>ESCOBILLADO ANAL</th>
                <th>PROTEINURIA (24 hs)</th>
                <th>EXUDADO VAGINAL - ANAL</th>
                <th>HbA1c (hemoglobina glicosilada)</th>
                <th>TIROIDE (TSH)</th>
                <th>TIROIDE (T4)</th>
                <th>STROUT</th>
                <th>IGA -TGG (celiuaquia)</th>
                <th>SOMF (sangre oculta en materia fecal)</th>
                <th>IONOGRAMA</th>
            </tr>
            </thead>

            <tbody>

                {{#each protocolo}}
                <tr>
                    <th>{{Paciente}}</th>
                    <th>{{Hemograma}}</th>
                    <th>{{'Formula Leucocitaria'}}</th>
                    <th>{{Orina}}</th>
                    <th>{{'Examen Microscopico de Sedimento'}}</th>
                    <th>{{'Sedimento urinario'}}</th>
                    <th>{{Antibiograma}}</th>
                    <th>{{'Analisis quimico'}}</th>
                    <th>{{Enzimas}}</th>
                    <th>{{Bilirrubina}}</th>
                    <th>{{Coagulacion}}</th>
                    <th>{{'PRUEBA DE TOLERANCIA ORAL A LA GLUCOSA'}}</th>
                    <th>{{'Grupo Sanguineo'}}</th>
                    <th>{{'Factor RH'}}</th>
                    <th>{{Serologia}}</th>
                    <th>{{'HCG EN SANGRE'}}</th>
                    <th>{{'PSA (prostatico)'}}</th>
                    <th>{{'POLIMORFOS NUCLEARES EN MATERIA FECAL'}}</th>
                    <th>{{'COPROPARASITOLOGICO SERIADO'}}</th>
                    <th>{{'ESCOBILLADO ANAL'}}</th>
                    <th>{{'PROTEINURIA (24 hs)'}}</th>
                    <th>{{'EXUDADO VAGINAL - ANAL'}}</th>
                    <th>{{'HbA1c (hemoglobina glicosilada)'}}</th>
                    <th>{{'TIROIDE (TSH)'}}</th>
                    <th>{{'TIROIDE (T4)'}}</th>
                    <th>{{STROUT}}</th>
                    <th>{{'IGA -TGG (celiuaquia)'}}</th>
                    <th>{{'SOMF (sangre oculta en materia fecal)'}}</th>
                    <th>{{IONOGRAMA}}</th>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>