<div class="card mb-2">
    <div class="card-header bg-dark text-white">
        <h5>Protocolo</h5>
    </div>
    <div class="card-body">
        {{#each protocolo}}
            {{#if Paciente}} <p>Nombre:  {{Paciente.Nombre}}</p>{{/if}}
            {{#if Hemograma.Eritrocitos}}<p>Eritrocitos: {{Hemograma.Eritrocitos}}</p>{{/if}}
            {{'Formula Leucocitaria'}}
            {{#each 'Formula Leucocitaria'}}

                {{'Neutrofilos en cayados'}}
                
            {{/each}}
        {{/each}}

        {{pacientes}}


      <br>
      


     <br>
     {{!-- <p id="demo"></p>         --}}
   
    </div>
</div>
